/** modal forms CSS **/
div.ctools-modal-content .form-item label {
  width: 15em;
}

div.ctools-modal-content .form-item label.option {
  width: auto;
  float: none;
}

div.ctools-modal-content .form-item .description {
  clear: left;
}

div.ctools-modal-content .form-item .description .tips {
  margin-left: 2em;
}

div.ctools-modal-content .no-float .form-item * {
  float: none;
}

div.ctools-modal-content .modal-form .no-float label  {
width: auto;
}

div.ctools-modal-content fieldset,
  div.ctools-modal-content .form-radios,
  div.ctools-modal-content .form-checkboxes {
  clear: left;
}

div.ctools-modal-content .resizable-textarea {
  clear: left;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

div.ctools-modal-content .container-inline .form-item {
  margin-right: 2em;
}

span.topic {
  color: #999999;
  font-size: 0.7em;
}

.ac_results {
padding: 0px;
border: 1px solid black;
        background-color: white;
overflow: hidden;
          z-index: 99999;
}

.ac_results ul {
width: 100%;
       list-style-position: outside;
       list-style: none;
padding: 0;
margin: 0;
}

.ac_results li {
margin: 0px;
padding: 10px 9px;
cursor: default;
display: block;
         /* 
            if width will be 100% horizontal scrollbar will apear 
            when scroll mode will be used
          */
         /*width: 100%;*/
font: menu;
      font-size: 12px;
      /* 
         it is very important, if line-height not setted or setted 
         in relative units scroll will be broken in firefox
       */
      line-height: 16px;
overflow: hidden;
}

.ac_loading {
background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
  background-color: #eee;
}

.ac_over {
  background-color: #0A246A;
color: white;
}

div.ac_results ul {
  list-style: none outside none; 
}
